@import url('https://use.typekit.net/qmp6ots.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap');
@import url('http://fonts.cdnfonts.com/css/saudagar?styles=56175');

@font-face {
  font-family: 'Saudagar Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Saudagar Regular'),
    url('/avr/fonts/saudagar-cufonfonts-webfont/Saudagar.woff') format('woff');
}

$serif: 'Saudagar Regular', serif;
$sans-serif: 'Inter', sans-serif;

h1 {
  font-family: $serif;
  font-style: normal;
  font-weight: normal;
  font-size: 120px;

  @media (min-width: 0px) and (max-width: 640px) {
    font-size: 70px;
  }
}

h2 {
  font-family: $serif;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 1em;
  text-transform: uppercase;
  margin-bottom: 0px;

  @media (min-width: 0px) and (max-width: 640px) {
    font-size: 50px;
  }
}

h3 {
  font-family: $sans-serif;
  font-size: 24px;
  letter-spacing: 0.2em;
  font-weight: 400 !important;

  @media (min-width: 0px) and (max-width: 640px) {
    font-size: 18px;
  }
}

h4 {
  font-family: $sans-serif;
  font-size: 18px;
  letter-spacing: 0.1em;
  font-weight: regular;

  @media (min-width: 0px) and (max-width: 640px) {
    font-size: 16px;
  }
}

p1 {
  font-family: $sans-serif;
  font-size: 35px;
  line-height: 1.3em;
  font-weight: 300;

  @media (min-width: 0px) and (max-width: 640px) {
    font-size: 16px;
  }
}

p2 {
  font-family: $sans-serif;
  font-size: 14px;
  letter-spacing: 0.02em;
  font-weight: regular;

  @media (min-width: 0px) and (max-width: 640px) {
    font-size: 9px;
  }
}

.cta {
  font-family: $sans-serif;
  letter-spacing: 0.1em;
  font-weight: regular;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  line-height: 100%;
  font-size: 18px;
  height: 18px;

  @media (min-width: 0px) and (max-width: 640px) {
    font-size: 16px;
  }
}

a.cta--menu {
  transition: 500ms;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0.01rem;
  text-transform: capitalize;
  color: inherit;

  text-underline-offset: 5px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;

  height: 1.4em;

  &:hover {
    letter-spacing: 0.2rem;
  }

  //responsive
  font-size: 14px;

  @media (min-width: 0px) and (max-width: 640px) {
    font-size: 12px;
  }

  @media (min-width: 0px) and (max-width: 1100px) and (orientation: landscape) {
    font-size: 12px;
  }
}
